<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net452" />
  <package id="Saxon-HE" version="9.7.0.7" targetFramework="net452" />
  <package id="ToastNotifications" version="1.4.3" targetFramework="net452" />
  <package id="Underscore.cs" version="0.1.6.0" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="3.1.16356.12170" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock" version="3.1.16356.12170" targetFramework="net452" />
</packages>